// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Arima:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap');

// SCSS FILES
// components
@import 'resources/scss/components/animations.scss';
@import 'resources/scss/components/buttons.scss';
@import 'resources/scss/components/cards.scss';
@import 'resources/scss/components/customized.scss';
@import 'resources/scss/components/flex-box.scss';
@import 'resources/scss/components/gallery-temporal.scss';
@import 'resources/scss/components/grids.scss';
@import 'resources/scss/components/images.scss';
@import 'resources/scss/components/layouts.scss';
@import 'resources/scss/components/navbar.scss';
@import 'resources/scss/components/tabs.scss';
@import 'resources/scss/components/themes.scss';
// plugins
@import 'resources/scss/plugins/swiper.scss';
// Variables
@import 'resources/scss/_variables.scss';

// Customize Bootstrap
$primary: #6B522F;

$theme-colors: (
  "primary": $primary
);

// Changes and add bootstrap
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

// Create your own map
$custom-colors: (
  "gold-soft": #EBD1AE,
  "gold-thin": rgb(235, 180, 103),
  "gold-matt": #AE9B81,
  "gold-dark": #9E7A46,
  "gold-hard": #6B522F
);
// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import './node_modules/bootstrap/scss/bootstrap.scss';

/* Rules for sizing the icon. */
.material-symbols-outlined.md-18 { font-size: 18px; }
.material-symbols-outlined.md-20 { font-size: 20px; }
.material-symbols-outlined.md-24 { font-size: 24px; }
.material-symbols-outlined.md-36 { font-size: 36px; }
.material-symbols-outlined.md-48 { font-size: 48px; }

.material-symbols-outlined.fill-1 { font-variation-settings: 'FILL' 1 }

// Main Font Family
body {
	font-family: 'Buda' !important;
}