// colors
:root {
	font-size: 20px;
	--red: #da2c4d;
	--yellow: #f8ab37;
	--green: #2ecc71;
	--white: #ffffff;
	--grey-light: #f2f7f9;
	--grey: #ecedf3;
	--black: #080808;
	--black-blue: #1f2029;
	--black-blue-light: #353746;
	--black-blue-light-2: #404255;
	--black-blue-light-3: #4b4d64;
	--black-light: #424455;

	//Golden Artists Colors
	--gold-soft: #EBD1AE;
	--gold-thin: #EBB467;
	--gold-matt: #AE9B81;
	--gold-dark: #9E7A46;
	--gold-hard: #6B522F;
}

$shadow-gray: #999;
$green-wapp: #25d366;
$gold-hard: #6B522F;