.flex-box-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-box-column-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}