<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta http-equiv='cache-control' content='no-cache'>
        <meta http-equiv='expires' content='0'>
        <meta http-equiv='pragma' content='no-cache'>

        <title>Golden Artists</title>

        <!-- Google icons material symbols -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <!-- Swiper -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
        <!-- AOS Animation -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <!-- Route style sheet -->
        <link rel="stylesheet" href="../../asset/css/app.css">
    </head>

    <body>
		<div class="container-fluid p-0">
			<div class="position-relative bg-black bg-opacity-25">
				<img src="/asset/image-temp/artists/saxophonists/sax-bg.jpg"
				style="object-position:top; position:absolute; z-index:-1;  object-fit: cover; width: 100%; height: 100%;">

				<div class="row mx-0 h-100 align-items-center">
					<div class="col-sm-10 col-lg-7 col-xxl-6 py-5 px-4 px-sm-5">
						<div class="row mx-0 d-flex align-items-end border-bottom border-white border-2 pb-4">
							<div class="col-auto p-0 mb-3">
								<img src="/asset/image-temp/artists/saxophonists/saxo-04.jpg" width="250px" height="250px" 
								class="rounded-circle border border-2 border-white" style="object-fit: cover;">
							</div>

							<div class="col p-0 ps-4 text-white">
								<h1 class="display-4">Saxofonista</h1>
							</div>
						</div>

						<div class="row mx-0 text-white">
							<div class="col-12 p-0 mt-4">
								<h5>300 0000 0000</h6>
								<h5>djfiesto@hotmail.com</h5>
								<h5>Bogotá D.C.</h5>
							</div>
						</div>
					</div>
				</div>

				<div class="row mx-0 py-5 w-xxl-75">
					<div class="col-sm-10 col-md-6 col-lg-4 col-xxl-3 mb-3">
						<div class="card h-100 rounded-0 border border-3 border-gold-thin" 
							style="width: 300px; margin: auto; box-shadow: rgba(1, 0, 0, 0.2) 1px 1px 6px 2px; background-color: inherit;">

							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZT5vZAdTYslkJk6ii8tA5HiLUrmsj0sexnA&usqp=CAU" 
							class="card-img-top rounded-0" style="object-fit: cover; height: 300px;">
							<div class="card-body text-center text-white py-5">
								<h5 class="">Dr.(a) Doroty Rusell</h5>
								<h6 class="">Especialista en:</h6>
								<h6 class="">Cirugía Maxilofacial</h6>
								<h6 class="">Universidad Javeriana</h6>
							</div>
						</div>
					</div>

					<div class="col-sm-10 col-md-6 col-lg-4 col-xxl-3 mb-3">
						<div class="card h-100 rounded-0 border border-3 border-gold-thin" 
							style="width: 300px; margin: auto; box-shadow: rgba(1, 0, 0, 0.2) 1px 1px 6px 2px; background-color: inherit;">

							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZT5vZAdTYslkJk6ii8tA5HiLUrmsj0sexnA&usqp=CAU" 
							class="card-img-top rounded-0" style="object-fit: cover; height: 300px;">
							<div class="card-body text-center text-white py-5">
								<h5 class="">Dr.(a) Doroty Rusell</h5>
								<h6 class="">Especialista en:</h6>
								<h6 class="">Cirugía Maxilofacial</h6>
								<h6 class="">Universidad Javeriana</h6>
							</div>
						</div>
					</div>

					<div class="col-sm-10 col-md-6 col-lg-4 col-xxl-3 mb-3">
						<div class="card h-100 rounded-0 border border-3 border-gold-thin" 
							style="width: 300px; margin: auto; box-shadow: rgba(1, 0, 0, 0.2) 1px 1px 6px 2px; background-color: inherit;">

							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZT5vZAdTYslkJk6ii8tA5HiLUrmsj0sexnA&usqp=CAU" 
							class="card-img-top rounded-0" style="object-fit: cover; height: 300px;">
							<div class="card-body text-center text-white py-5">
								<h5 class="">Dr.(a) Doroty Rusell</h5>
								<h6 class="">Especialista en:</h6>
								<h6 class="">Cirugía Maxilofacial</h6>
								<h6 class="">Universidad Javeriana</h6>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="bg-black py-5">
				<div class="row mx-0 justify-content-center">
					<div class="col-12 col-sm-10 col-lg-8 col-xl-7 col-xxl-6 p-0">
						<div class="grid-biography-sax">
							<div class="g-item1 position-relative">
								<div style="height: 90%; width: 90%; box-shadow: 0 0 16px #EBB467 inset; position: absolute; top: 50%;
								left: 50%; transform: translate(-50%, -50%);">
								</div>
								<img src="/asset/image-temp/artists/saxophonists/sax-bg.jpg" class="w-100" style="max-height: 500px; object-fit: cover;">
							</div>
							<div class="g-item2">
								<img src="/asset/image-temp/artists/saxophonists/sax-artist.jpg" class="img-fluid border border-2 border-gold-thin" style="max-height: 500px;">
							</div>
							<div class="g-item3 text-white p-3">
								<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe ipsa sint voluptatem 
									at vero est consectetur voluptas impedit consequuntur dicta.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="py-5 bg-black bg-opacity-75">
				<ul class="row mx-0 justify-content-center border-0 p-0">
					<!-- singer-01 -->
					<li class="col-sm-6 col-md-4 col-xl-3 p-2" style="list-style: none;">
						<a href="!#" style="text-decoration: none">
							<div class="text-white">
								<img class="img-user-artist mb-4" src="/asset/image-temp/artists/saxophonists/saxo-02.jpg">
				
								<h5 class="text-center">Lois Smith</h5>
								<h6 class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h6>  
							</div>
						</a>
					</li>
					<!-- singer-02 -->
					<li class="col-sm-6 col-md-4 col-xl-3 p-2" style="list-style: none;">
						<a href="!#" style="text-decoration: none">
							<div class="nav-link border-0 text-white">
								<img class="img-user-artist mb-4" src="/asset/image-temp/artists/saxophonists/saxo-03.jpg">
				
								<h5 class="text-center">Donato Loweins</h5>
								<h6 class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h6>
							</div>
						</a>
					</li>
					<!-- singer-03 -->
					<li class="col-sm-6 col-md-4 col-xl-3 p-2" style="list-style: none;">
						<a href="!#" style="text-decoration: none">
							<div class="nav-link border-0 text-white">
								<img class="img-user-artist mb-4" src="/asset/image-temp/artists/saxophonists/saxo-04.jpg">
				
								<h5 class="text-center">Carmen Rivera</h5>
								<h6 class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h6>  
							</div>
						</a>
					</li>
				</ul>

				<div class="img-logo-sm d-flex justify-content-center mb-3">
					<img src="/asset/image/logo/golden-artist-golden-hrz.png" width="150">
				</div>

				<div class="text-center text-white mt-5">
					<h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, 
						blanditiis.Lorem ipsum dolor sit amet.
					</h5>
				</div>
			</div>
		</div>

        <!-- Bootstrap 5.2 cdn -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
		<script src="./resources/js/function.js"></script>
    </body>
</html>