// // Balls
// .animation__ball-sm {
//     display: block;
//     width: 75px;
//     height: 75px;
//     border-radius: 50%;
// }
// .animation__ball-lg {
//     display: block;
//     width: 125px;
//     height: 125px;
//     border-radius: 50%;
// }














// Enlace entre botones y contenedores - Servicios
#link-scroll-top {
  scroll-margin-top: 120px;
}
// Animation view US
@keyframes slide {
  0% { transform:translateX(-25%) }
  100% { transform:translateX(25%) }
}
.dinamic-bg-color {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #FFEFBA 50%, #FFFFFF 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
} 
.dinamic-bg-color2 {
animation-direction:alternate-reverse;
animation-duration:4s;
}
.dinamic-bg-color3 { animation-duration:5s }

// Animation Skill progress
.circular-progress-bar {
	background: linear-gradient(0deg, #080808 0%, #111111 100%);
	position: absolute;
	width: 6.5em;
	height: 6.5em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
	z-index: 1;
  h5 {
    font-size: 2em;
    font-weight: 500;
  }
}
.circular-progress-effect {
	position: absolute;
	width: 7.3em;
	height: 7.3em;
	bottom: -100%;
	background: linear-gradient(0deg, #335bf4 0%, #16ff86 100%);
	transition: bottom 6s;
}

// Search Bar - Header
.Search-bar-toggle{
	max-width: 250px;
	display: flex;
	position: relative;
}
.Search-bar-toggle input#search{
	width: 50px;
	height: 45px;
	background: #a3a5a940;
	border: none;
	font-size: 10pt;
	color: #262626;
	padding-left: 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;

	-webkit-transition: width .55s ease;
	-moz-transition: width .55s ease;
	-ms-transition: width .55s ease;
	-o-transition: width .55s ease;
	transition: width .55s ease;
}
.Search-bar-toggle input#search::-webkit-input-placeholder {
	color: #65737e;
}
.Search-bar-toggle input#search:-moz-placeholder { /* Firefox 18- */
	color: #65737e;  
}  
.Search-bar-toggle input#search::-moz-placeholder {  /* Firefox 19+ */
	color: #657e6a;  
}
.Search-bar-toggle input#search:-ms-input-placeholder {  
	color: #65737e;  
} 
.Search-bar-toggle .icon{
	position: absolute;
	z-index: 1;
	color: #c0c2c5;
	top: 0;
	left: 0;
	height: inherit;
	transform: translate(8px, 10px);
}
.Search-bar-toggle input#search:focus, .Search-bar-toggle input#search:active{
	outline:none;
	width: 250px;
} 
.Search-bar-toggle:hover input#search{
	width: 250px;
}
.Search-bar-toggle:hover .icon{
	color: #93ad97;
}

@media ( min-width: 768px ) {
	.animation__ball-sm {
        width: 145px;
        height: 145px;
    }
}