// ***** Animation Curtain (Services) *****
.animation__curtain-card  { box-shadow: 0px -2px 2px 0 rgba(0, 0, 0, 0.15), 1px 5px 5px 0 rgba(0, 0, 0, 0.2) }
.animation__curtain {
	position: relative;
	overflow: hidden;
}
.animation__curtain .animation__curtain-img {
	font-size: 0;
	overflow: hidden;
}
.animation__curtain .animation__curtain-img img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	transition: all .3s;
}
.animation__curtain .animation__curtain-text {
	position: absolute;
	top: 15px;
	right: 15px;
	left: 15px;
	bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	transition: all .3s ease-in;
	opacity: 0;
}
.animation__curtain .animation__curtain-text .animation__curtain-inner {
	position: absolute;
	bottom: 16px;
	height: 45%;
	z-index: 1;
}
// Before and After
.animation__curtain .animation__curtain-text::before,
.animation__curtain .animation__curtain-text::after {
	position: absolute;
	display: block;
	width: 100%;
	height: 0;
	content: '';
}
.animation__curtain .animation__curtain-text::before {
	border-top: 3px solid #EBD1AE;
	border-right: 3px solid #EBD1AE;
	left: -100%;
	top: 0;
}
.animation__curtain .animation__curtain-text::after {
	border-bottom: 3px solid #EBD1AE;
	border-left: 3px solid #EBD1AE;
	left: 100%;
	bottom: 0;
}
// Hover Effect
.animation__curtain-card:hover {
	opacity: 1;
	transform: translateY(-4px);
	box-shadow: 0 8px 13px 1px rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.35);
}
.animation__curtain-card:hover .animation__curtain .animation__curtain-img img { transform: scale(1.2) }
.animation__curtain-card:hover .animation__curtain .animation__curtain-text {
	opacity: 1;
	box-shadow: 0 0 20px #EBD1AE;
}
.animation__curtain-card:hover .animation__curtain .animation__curtain-text::before,
.animation__curtain-card:hover .animation__curtain .animation__curtain-text::after {
	animation-delay: .5s;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
.animation__curtain-card:hover .animation__curtain .animation__curtain-text::before {
	animation-name: left-up;
}
.animation__curtain-card:hover .animation__curtain .animation__curtain-text::after {
	animation-name: right-dn;
}
@keyframes left-up {
	0% { left: 100%; height: 0; }
	50% { left: 0; height: 0; }
	100% { left: 0; height: 100%; }
}
@keyframes right-dn {
	0% { left: -100%; height: 0; }
	50% { left: 0; height: 0; }
	100% { left: 0; height: 100%; }
}
// ***** End Animation Curtain (Services) *****

// ***** Animation bottom scroll top *****
.animation__btn-scroll-effect {
	width: 0rem;
	height: 0rem;
	background: linear-gradient(145deg, rgba(71, 56, 35, 0.5) 20%, rgba(119, 88, 44, 0.1) 52%, rgba(206, 148, 67, 0.6) 65%, #f78f08 100%);
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .2s;
	z-index: -1;
}
.animation__btn-scroll-effect i {
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(50%, 50%) scale(0);
	transition: .2s;
	@extend .theme__gold-neon;
}
.animation__btn-scroll-top { z-index: 10; background-color: black; border-radius: 50%; }
.animation__btn-scroll-top .animation__btn-scroll-effect {
	position: absolute;
	animation: popup .3s ease-in-out;
	width:40px;
	height:40px;
	z-index: 11;
	border: 2px solid #EBB467;
}
.animation__btn-scroll-top i { transform: translate(-50%, -50%) scale(1); }
@keyframes popup {
	0%{
		width: 0;
		height: 0;
	}
	50%{
		width: 20px;
		height: 20px;
	}
	100%{
		width: 40px;
		height: 40px;
	}
}
// ***** End Animation bottom scroll top *****
.animation__bg-restorant { // Restaurant Music interactive background
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #44433f4f 50%, #ffffff 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}
.animation__bg-wedding { // Wedding interactive background
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #f7e3f4 50%, #fcf0fe4f 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.animation__bg-fifteen { // Fifteen interactive backf¿ground
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #fedce2 50%, #e4dbdc4f 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.animation__bg-gold {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #FFEFBA 50%, #FFFFFF 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.animation__bg-class {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #0f0c29 50%, #FFFFFF 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}
.animation__bg-gold-2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}
.animation__bg-gold-3 {
    animation-duration: 5s;
}
@keyframes slide {
	0% {
		transform: translateX(-25%);
	}
	100% {
		transform: translateX(25%);
	}
}

//***** Media Querys 
@media(min-width: 400px){
	.animation__curtain-card  { width: 375px }
}