// floating button
.btn-circle-float {
	width:40px;
	height:40px;
	display: block;
	border-radius:50%;
	box-shadow: 2px 2px 3px $shadow-gray;
	position:fixed;
	right:28px;
	z-index: 100;
	cursor: pointer;
}
/* ================= Button Whatsapp fixed ================= */
.btn-float-whp{
	@extend .btn-circle-float;
	bottom:115px;
	background-color: $green-wapp;
	padding: 2px 0 0 2px;
}
/* ================= Button float scroll top ================= */
.btn-scroll-top {
	@extend .btn-circle-float;
	bottom: 50px;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
	.btn-progress-circle path {
		transition: stroke-dashoffset 10ms linear 0s; 
		stroke-dasharray: 307.919, 307.919; 
		stroke-dashoffset: 234.936;
	}
	i {
		position: absolute; 
		top: 7px; 
		left: 8px; 
		color: $gold-hard;
	}
	&.actived-scroll {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
	svg {
		path { 
			fill: none; 
		}
		&.btn-progress-circle path {
			stroke: $gold-hard;
			stroke-width: 4;
			box-sizing:border-box;
			-webkit-transition: all 200ms linear;
			transition: all 200ms linear;
		}
	} 
}
/* ================= Button others services ================= */
.boton {
	width: 200px;
	height: 225px;
	border-radius: 8px;
	box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
	cursor: pointer;
	transition: 0.4s;
  }
  
  .boton .card_image {
	width: inherit;
	height: inherit;
	border-radius: 8px;
  }
  
  .boton .card_image img {
	width: inherit;
	height: inherit;
	border-radius: 8px;
	object-fit: cover;
  }
  
  .boton .card_title {
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 30px;
	margin-top: -80px;
	height: 40px;
  }
  
  .boton:hover {
	transform: scale(0.9, 0.9);
	box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
	  -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
	color: white;
  }
  
  .title-black {
	color: black;
  }
  