// EXTEND CLASS
.btn__shape-rounded {
	width:40px;
	height:40px;
	display: block;
	border-radius:50%;
	box-shadow: 2px 2px 3px #999;
	position:fixed;
	right:28px;
	z-index: 100;
	cursor: pointer;
}
// ***** Bottom Floating
.btn__float-whp {
	@extend .btn__shape-rounded;
	bottom:10px;
	background-color: #25d366;
	padding: 2px 0 0 2px;
}
// ***** Bottom scroll top
.btn__scroll-top {
	position: fixed;
    bottom: 60px;
    right: 28px;
    width: 40px;
    height: 40px;
	z-index: 1;
}