// Extends class 
.mini-card-grid { // extends class 
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	gap: 12px;
}
.mini-cards-us { // extends class 
	width: 135px;
    padding: 24px 0;
    text-align: center;
    border-radius: 4px;
	box-shadow: 0 4px 25px 0 rgba(0,0,0,.3), 0 0 1px 0 rgba(0,0,0,.25);
}
// Us - Home
.card-grid-us {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	gap: 16px;
	.card-one {
		grid-row: 1/2;
		grid-column: 1/4;
	}
	.card-two {
		grid-row: 2/3;
		grid-column: 1/4;
	}
	.card-three {
		grid-row: 3/4;
		grid-column: 1/4;
	}
}
.card-us {
	width: 270px;
	margin: auto;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	background-color: #fff;
	transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
	box-shadow: 4px 7px 12px 1px rgba(107, 82, 47, .4);
	&:hover {
		box-shadow: 4px 7px 12px 1px rgba(107, 82, 47, .4);
		transform: scale(1.05, 1.03);
		.img-logo-us {
			opacity: .7;
		}
		.img-bg-us-zoom {
			height: 100%;
			opacity: 0.3;
		}
		.card-body {
			background-color: transparent;
			position: relative;
		}
	}
	.card-body {
		background-color: #fff;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		padding: 18px 16px;
		a{
			border-color: #EBD1AE;
			background-color: #6b522f;
			color: #EBD1AE;
			&:hover {
				box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
				transform: scale(1.01);
				border-color: #6b522f;
				background-color: #EBD1AE;
				color: #6b522f;
			}
		}
	}
}
.card-one .card-us {
	.img-bg-us, .img-bg-us-zoom {background-image: url('../image-temp/home/us/home-us-001.jpg');}
}
.card-two .card-us {
	.img-bg-us, .img-bg-us-zoom {background-image: url('../image-temp/home/us/home-us-02.jfif');}
}
.card-three .card-us {
	.img-bg-us, .img-bg-us-zoom {background-image: url('../image-temp/home/us/home-us-03.webp');}
}
// Services - Home
.card-service {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #333;
	padding: 40px 20px;
	text-align: center;
	overflow: hidden;
	.card-curtain {
		position: absolute;
		top: calc(100% - 2px);
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(#03a9f4, #e91ee3);
		z-index: 1;
		transition: 0.5s;
	}
	&:hover .card-curtain {
		top: 0;
	}
	.card-body {
		position: relative;
		z-index: 2;
	}
}
// Skills - Home
.card-content-skill {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}
.card-skill {
	display: inline-block;
	text-align: center;
	.card-body {
		position: relative;
		background: transparent;
		border: 8px solid #1b1b1b;
		border-radius: 50%;
		width: 8em;
		height: 8em;
		overflow: hidden;
		margin: auto;
	}
}
// Artists - Home
.card-artist {
	width: 275px;
	height: 435px;
	margin: auto;
	overflow: hidden;
	border-radius: 4px;
	background: linear-gradient(#EBB467, #EBD1AE, #9E7A46);
	padding: 8px;
	position: relative;
	.car-body {
		width: 100%;
		height: 100%;
		top: 0;
		right: -100%;
		position: absolute;
		background-color: #EBD1AE38;
		backdrop-filter: blur(5px);
		color: #fff;
		padding: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		transition: 1.3s;
	  }
	&:hover .car-body { right: 0 }
}

// Us - View
.card-golden-artist-white {
	display: flex;
	width: 515px !important; 
	height: 300px !important; 
	margin: auto;
	position: absolute; 
	top: 40%; 
	left: 2%; 
	padding: 45px 0;
	background-color: white;
	background-image: url('../image-temp/us/us-card-02.jpg');
	background-repeat: no-repeat; 
	background-size: contain;
	box-shadow: 16px 16px 25px 0 rgba(0,0,0,4.5);
    border-radius: 16px;
	img {
		width: 175px;
		height: fit-content;
		margin-left: auto;
	}
}
// Valores y principios
.card-group-val {
	@extend .mini-card-grid;
	.val-text {
		grid-row: 1/2;
		grid-column: 1/3;
	}
	.val-one {
		grid-row: 2/3;
		grid-column: 1/2;
		@extend .mini-cards-us;
	}
	.val-two {
		grid-row: 2/3;
		grid-column: 2/3;
		@extend .mini-cards-us;
	}
	.val-three {
		grid-row: 3/4;
		grid-column: 1/2;
		@extend .mini-cards-us;
	}
  	.val-four {
		grid-row: 3/4;
		grid-column: 2/3;
		@extend .mini-cards-us;
	}
	.val-five {
		grid-row: 4/5;
		grid-column: 1/2;
		@extend .mini-cards-us;
	}
	.val-six {
		grid-row: 4/5;
		grid-column: 2/3;
		@extend .mini-cards-us;
	}
}
.card-group-prin {
	@extend .mini-card-grid;
  	.prin-text {
		grid-row: 1/2;
		grid-column: 1/3;
  	}
	.prin-one {
		grid-row: 2/3;
		grid-column: 1/2;
		@extend .mini-cards-us;
	}
	.prin-two {
		grid-row: 2/3;
		grid-column: 2/3;
		@extend .mini-cards-us;
	}
	.prin-three {
		grid-row: 3/4;
		grid-column: 1/2;
		@extend .mini-cards-us;
	}
  	.prin-four {
		grid-row: 3/4;
		grid-column: 2/3;
		@extend .mini-cards-us;
	}
	.prin-five {
		grid-row: 4/5;
		grid-column: 1/2;
		@extend .mini-cards-us;
	}
	.prin-six {
		grid-row: 4/5;
		grid-column: 2/3;
		@extend .mini-cards-us;
	}
}


.effect {
	position: relative;
	overflow: hidden;
}
.eff {
	box-shadow: 0px -2px 2px 0 rgba(0, 0, 0, 0.15), 1px 5px 5px 0 rgba(0, 0, 0, 0.2)
}
.eff:hover {
	opacity: 1;
	transform: translateY(-4px);
	box-shadow: 0 8px 13px 1px rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.35);
}
.effect .effect-img {
	font-size: 0;
	overflow: hidden;
}
.effect .effect-img img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	transition: all .3s;
}
.eff:hover .effect .effect-img img {
	transform: scale(1.2);
}
.effect .effect-text {
	position: absolute;
	top: 15px;
	right: 15px;
	left: 15px;
	bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	transition: all .3s ease-in;
	opacity: 0;
}
.effect .effect-text .inner {
	position: absolute;
	bottom: 16px;
	height: 45%;
	z-index: 1;
}
.effect .effect-text::before,
.effect .effect-text::after {
	position: absolute;
	display: block;
	width: 100%;
	height: 0;
	content: '';
}
.effect .effect-text::before {
	border-top: 3px solid #EBD1AE;
	border-right: 3px solid #EBD1AE;
	left: -100%;
	top: 0;
}
.effect .effect-text::after {
	border-bottom: 3px solid #EBD1AE;
	border-left: 3px solid #EBD1AE;
	left: 100%;
	bottom: 0;
}
.eff:hover .effect .effect-text {
	opacity: 1;
	box-shadow: 0 0 20px #EBD1AE;
}
.eff:hover .effect .effect-text::before,
.eff:hover .effect .effect-text::after {
	animation-delay: .5s;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
.eff:hover .effect .effect-text::before {
	animation-name: left-up;
}
.eff:hover .effect .effect-text::after {
	animation-name: right-dn;
}
@keyframes left-up {
	0% { left: 100%; height: 0; }
	50% { left: 0; height: 0; }
	100% { left: 0; height: 100%; }
}
@keyframes right-dn {
	0% { left: -100%; height: 0; }
	50% { left: 0; height: 0; }
	100% { left: 0; height: 100%; }
}
// .effect .effect-text h2 {
// 	height: 30px;
// 	color:  #fff;
// 	font-size: 24px;
// 	margin: 0;
// }
// .effect .effect-text p {
// 	color:  #fff;
// 	margin-bottom: 20px;
// }
// .effect .effect-btn .btn {
// 	display: inline-block;
// 	height: 35px;
// 	padding: 7px 15px;
// 	color:  #333333;
// 	background-color: #fff;
// }





.p-descrip-boda { padding-top: 110px; }

@media(min-width: 400px){
	.eff {
		width: 375px;
		// height: 500px;
	}
}
@media(min-width: 500px) {
	// Us - View
	// Valores y principios
	.card-val-nosotros {
		.val-text {
			grid-row: 1/2;
			grid-column: 1/4;
		}
		.val-one {
			grid-row: 2/3;
			grid-column: 1/2;
		}
		.val-two {
			grid-row: 2/3;
			grid-column: 2/3;
		}
		.val-three {
			grid-row: 2/3;
			grid-column: 3/4;
		}
		.val-four {
			grid-row: 3/4;
			grid-column: 1/2;
		}
		.val-five {
			grid-row: 3/4;
			grid-column: 2/3;
		}
		.val-six {
			grid-row: 3/4;
			grid-column: 3/4;
		}
	}
	.card-princ-nosotros {
		.val-text {
			grid-row: 1/2;
			grid-column: 1/4;
		}
		.val-one {
			grid-row: 2/3;
			grid-column: 1/2;
		}
		.val-two {
			grid-row: 2/3;
			grid-column: 2/3;
		}
		.val-three {
			grid-row: 2/3;
			grid-column: 3/4;
		}
		.val-four {
			grid-row: 3/4;
			grid-column: 1/2;
		}
		.val-five {
			grid-row: 3/4;
			grid-column: 2/3;
		}
		.val-six {
			grid-row: 3/4;
			grid-column: 3/4;
		}
	}
}

@media(min-width: 576px) {
	// Us - Home
	.card-grid-us {
		justify-content: center;
		.card-one {
			// grid-row: 1/2;
			grid-column: 1/2;
		}
		.card-two {
			grid-row: 1/2;
			grid-column: 2/3;
		}
		.card-three {
			grid-row: 2/3;
			grid-column: 1/3;
		}
	}
}

@media(min-width: 768px) {
	// Us - Home
	.card-grid-us { gap: 32px }

	// Us - View
	// Valores y principios
	.card-group-val {
		.val-text {
			grid-row: 1/3;
			grid-column: 4/5;
		}
		.val-one {
			grid-row: 1/2;
			grid-column: 1/2;
		}
		.val-two {
			grid-row: 1/2;
			grid-column: 2/3;
		}
		.val-three {
			grid-row: 1/2;
			grid-column: 3/4;
		}
	  	.val-four {
			grid-row: 2/3;
			grid-column: 1/2;
		}
		.val-five {
			grid-row: 2/3;
			grid-column: 2/3;
		}
		.val-six {
			grid-row: 2/3;
			grid-column: 3/4;
		}
	}
	.card-group-prin {
		.prin-text {
			grid-row: 1/3;
			grid-column: 1/2;
		}
		.prin-one {
			grid-row: 1/2;
			grid-column: 2/3;
		}
		.prin-two {
			grid-row: 1/2;
			grid-column: 3/4;
		}
		.prin-three {
			grid-row: 1/2;
			grid-column: 4/5;
		}
	  	.prin-four {
			grid-row: 2/3;
			grid-column: 2/3;
		}
		.prin-five {
			grid-row: 2/3;
			grid-column: 3/4;
		}
		.prin-six {
			grid-row: 2/3;
			grid-column: 4/5;
		}
	}


	.p-descrip-boda { padding-top: 65px; }
}



@media(min-width: 900px) {
	// Us - Home
	.card-grid-us {
		gap: 75px;
		.card-three {
			grid-row: 1/2;
			grid-column: 3/4;
		}
	}
}


@media(min-width: 992px) {
	.p-descrip-boda { padding-top: 0; }
}

@media(min-width: 1920px) {
	.w-xxl-75 {
		width: 75%;
	}
}