// Width 
.customized__w-275 { width: 275px }
// height
.customized__squared-180 {
    width: 180px;
    height: 180px;
}
// Traslete
.customized__position-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.customized__position-start-25 {
    top: 100%;
    left: 25%;
    transform: translate(-50%, -50%)
}
// Shadows
.customized__shadow-1-opacity-9 { box-shadow: -10px -4px 8px 3px rgba(39, 33, 25, 0.9) }
.customized__shadow-2-opacity-9 { box-shadow: -16px 16px 20px 7px rgba(39, 33, 25, 0.9) }
.customized__shadow-1-doble-9 { box-shadow: 16px -24px 0px 3px rgba(0, 0, 0, 0.5), 4px -8px 10px 0 rgba(0, 0, 0, .9) }
.customized__shadow-2-doble-9 { box-shadow: -16px -24px 0px 3px rgba(0, 0, 0, 0.5), -4px -8px 10px 0 rgba(0, 0, 0, .9) }
.customized__shadow-1-gold-5 { box-shadow: -2px -2px 5px 5px rgba(235, 180, 103, 0.5) }
@media(min-width: 1500px) {
    // Paddings
    .customized__px-xxlg { padding: 0 10% !important }
}

@media(min-width: 1920px) {
    // Paddings
    .customized__px-xxlg { padding: 0 18% !important }
}