.flex-box-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-box-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-box-column-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
@media(min-width: 1920px) {
    .px-xlargets { 
        padding-left: 116px;
        padding-right: 116px;
    }
}