.flex-box-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-box-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-box-column-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}





.padd-y-xxl {
    padding-top: 100px;
    padding-right: 8px !important;
    padding-bottom: 100px;
    padding-left: 8px !important;
}
@media(min-width: 375px) {
    .padd-y-xxl {
        padding-top: 100px;
        padding-right: 45px !important;
        padding-bottom: 175px;
        padding-left: 45px !important;
    }
    .m-less-top {
        margin-top: -160px;
    }
}
@media(min-width: 768px) {
    .padd-y-xxl {
        padding-top: 100px;
        padding-right: 100px !important;
        padding-bottom: 175px;
        padding-left: 100px !important;
    }
}

@media(min-width: 1920px) {
    .px-xlargets { 
        padding-left: 116px;
        padding-right: 116px;
    }
}