// Rules for sizing the icon Material Siymbols
.material-symbols-outlined.md-18 { font-size: 18px; }
.material-symbols-outlined.md-20 { font-size: 20px; }
.material-symbols-outlined.md-24 { font-size: 24px; }
.material-symbols-outlined.md-30 { font-size: 30px; }
.material-symbols-outlined.md-36 { font-size: 36px; }
.material-symbols-outlined.md-40 { font-size: 40px; }
.material-symbols-outlined.md-48 { font-size: 48px; }

.material-symbols-outlined.fill-1 { font-variation-settings: 'FILL' 1 }