// Rules for sizing the icon Material Siymbols
.material-symbols-outlined.md-18 { font-size: 18px; }
.material-symbols-outlined.md-20 { font-size: 20px; }
.material-symbols-outlined.md-24 { font-size: 24px; }
.material-symbols-outlined.md-36 { font-size: 36px; }
.material-symbols-outlined.md-48 { font-size: 48px; }

.material-symbols-outlined.fill-1 { font-variation-settings: 'FILL' 1 }

.dynamic-txt-three-lines {
    width: 100%;
    margin: auto;
}
$font-size: 16px;
$line-height: 1.4;
$lines: 3;
.txt-three-lines {
    display: block;
    display: -webkit-box;
    width: 100%;
    height: $font-size * $line-height * $lines;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.show-txt-three-lines {
    display: block;
    height: max-content;
    overflow: inherit;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

// Botón VER MÁS, VER MENOS
// .btn-toggle-verMas {
//     display: flex;
//     justify-content: center;
//     margin-bottom: 18px;
// }
// .btn-toggle-verMas input {
//     width: 120px;
//     border: none;
//     background-color: transparent;
//     background-repeat: no-repeat;
//     background-position-x: right;
// }

.golden__box-comment {
    min-height: 4px;
    max-height: 765px;
    overflow-y: auto;
}


@mixin imgContainer($width, $height, $bg-color: #FFFFFF, $radius: 4px) {
    width: $width;
    height: $height;
    background-color: $bg-color;
    @if $radius != 4 {
        border-radius: $radius;
    }
}
@mixin imgObject($type: contain, $position: center){
    width: 100%;
    height: 100%;
    object-fit: $type;
    object-position: $position;
    border-radius: inherit;       
}
.custom__comment-box {
    position: relative;
    padding-left: 34px !important;
    small {
        display: flex;
        position: absolute;
        top: -4px;
        right: 36px;
        color: #198754;
    }
    .comment__text{ border-left: 2px solid #2d4f61; 
        // p { box-shadow: 2px 3px 10px rgb(45,79,97, 18%) }
    }
}


.img__rounded-small {
    @include imgContainer(70px, 70px, #FFFFFF, 50% );
    img {
        @include imgObject(cover);
    }
}
.golden__w-about-us { 
    width: 50% !important;
    z-index: -1;
 }
 .golden__mt-card-about {
    margin-top: 16px !important;
 }
 .golden__mb-eslogan {
    margin-bottom: -36px;
 }

 .golden__box-comment > div:nth-child(odd) {
        background: linear-gradient(#EBB467, #EBD1AE, #9E7A46);
}


 @media(min-width: 576px) {
    .golden__w-about-us { 
        width: 35% !important;
     } 
    .golden__mt-card-about {
        margin-top: -50px !important;
     }  
 }

 @media(min-width: 768px) {
    .golden__w-about-us { 
        width: 25% !important;
     } 
     .golden__box-comment {
        max-height: 380px;
    }
    .golden__box-comment > div:nth-child(odd) {
        background: unset;
    }
    .golden__box-comment > div:nth-child(4n+1) {
            background: linear-gradient(#EBB467, #EBD1AE, #9E7A46);
    }

    .golden__box-comment > div:nth-child(4n+2) {
            background: linear-gradient(#EBB467, #EBD1AE, #9E7A46);
    }
 }

 @media(min-width: 1400px) {
    .golden__box-comment > div:nth-child(4n+1) {
        background: unset;
    }

    .golden__box-comment > div:nth-child(4n+2) {
        background: unset;
    }

    .golden__box-comment > div:nth-child(6n+1) {
            background: linear-gradient(#EBB467, #EBD1AE, #9E7A46);
    }

    .golden__box-comment > div:nth-child(6n+2) {
            background: linear-gradient(#EBB467, #EBD1AE, #9E7A46);
    }

    .golden__box-comment > div:nth-child(6n+3) {
            background: linear-gradient(#EBB467, #EBD1AE, #9E7A46);
    }
 }