// ***** NAVBAR DESKTOP *****
.nav-head {
	width: 100%;
	padding: 0;
	background: var(--black);
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
  	ul { 
		list-style-type: none;
		margin: 0;
		padding: inherit;
		gap: 24px;
		height: inherit;
		align-items: center;

		.actived a { 
			color: #EBB467;
			border-bottom: 1px solid #EBB467;
		}
	}
}
.nav-golden li >a { 
	font-size: 24px;
	text-decoration: none; 
	color: #EBD1AE;
	cursor: pointer;
	&:hover { 
		color: #EBB467;
		// border-bottom: 1px solid #EBB467;
	}
}
.arrow-ancla::after {
    content: none !important;
} 
.arrow-ancla span::after {
    content: "";
	border-top: 0 solid !important;
    border-right: 2px solid !important;
    border-bottom: 2px solid !important;
    border-left: 0 solid !important;
    width: 14px;
    height: 14px;
    transform: translate(-50%, -50%);
    rotate: 45deg;
    position: absolute;
    top: 50%;
	right: -25px;
}
	
// ***** NAVBAR MOBILE *****
// Check menu
#nav-mobile-check {
	display: none;
}
#nav-mobile-check:checked+.nav-mobile-btn-menu .nav-mobile-btn-icon {
	background-color: transparent;
	&:before {
		top: 5px;
		transform: rotate(135deg);
	}
	&:after {
		top: 5px;
		transform: rotate(-135deg);
	}
}
#nav-mobile-check:checked~.nav-mobile-bg {
	transform: scale(80);
	opacity: .5;
}
#nav-mobile-check:checked~.nav-mobile-box-list {
	width: 100%;
	visibility: visible;
	opacity: 1;
	background-color: #6B522F;
}
// Button menu
.nav-m-btn {
    height: 50px;
    width: 50px;
	border-radius: 50%;
}
.nav-mobile-btn-menu {
	@extend .nav-m-btn;
    position: absolute;
    text-align: center;
    z-index: 300;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
	&:hover .nav-mobile-btn-icon::before { top: 7px }
	&:hover .nav-mobile-btn-icon::after { top: 14px }
}
// button - bars and ex of the menu
.nav-m-icon {
	display: inline-block;
	width: 30px;
	height: 4px;
	background-color: #6B522F;
}
.nav-m-icon-befo-aft {
	content: '';
	position: absolute;
	left: 0;
	transition: all 200ms;
}
.nav-mobile-btn-icon {
	@extend .nav-m-icon;
	position: relative;
	&:before {
		@extend .nav-m-icon;
		@extend .nav-m-icon-befo-aft;
		top: 7px;
	}
	&:after {
		@extend .nav-m-icon;
		@extend .nav-m-icon-befo-aft;
		top: 14px;
	}
}
// Background menu toggle
.nav-mobile-bg {
	@extend .nav-m-btn;
	background-size: cover;
	background-position: center;
	z-index: 100;
	transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
}
// Items box
.nav-mobile-box-list {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	opacity: 0;
	width: 0;
	visibility: hidden;
	z-index: 200;
	transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.nav-mobile-list {
	position: absolute;
	top: 120px;
	left: 0;
	padding-left: 20px;
	list-style: none;
}
.nav-mobile-item-link:link,
.nav-mobile-item-link:visited {
	display: inline-block;
	color: #f4f4f4;
	font-size: 16px;
	text-decoration: none;
	transition: all .2s;
}
.nav-mobile-item-link span { vertical-align: text-bottom }

@media(min-width: 650px) {
	#nav-mobile-check:checked~.nav-mobile-box-list {
		width: 650px;
	}
}

@media(min-width: 1400px) {
	.nav-head ul { 
		gap: 42px;
	}
}