// Gradientes
.fill-purple { background-image: linear-gradient(90deg, #4addff, #a34dfe) }

.fill-green { background-image: linear-gradient(90deg, #ffe40c, #33d497) }

.fill-blue { background-image: linear-gradient(90deg, #285ca5, #18d5ff) }

.fill-orange { background-image: linear-gradient(90deg, #fcf595, #ff954d) }

$gr-1:linear-gradient(170deg, #01E4F8 0%, #1D3EDE 100%);
$gr-2:linear-gradient(170deg, #B4EC51 0%, #429321 100%);
$gr-3:linear-gradient(170deg, #C86DD7 0%, #3023AE 100%);

.gr-1{background: $gr-1;}
.gr-2{background: $gr-2;}
.gr-3{background: $gr-3;}

.bg-transparent { background: #ffffff38; }
// box shadows
.box-shadow-dark { 
  box-shadow: 0 14px 25px 0 rgba(0,0,0,.5), 0 0 0 0 rgba(0,0,0,.6);
}
.box-shadow-soft {
  box-shadow: 0 4px 25px 0 rgba(0,0,0,.3), 0 0 1px 0 rgba(0,0,0,.25);
}






.logo {
    position: absolute;
    top: 0;
    left: 24px;
}

.logo b{
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
/* Animate neon flicker */
@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -3px -0 25px red,
            3px 0px 3px white,
            0px 0px 15px white,
            15px 10px 10px black,
            0 0 40px orangered,
            0 0 40px orangered,
            0 0 60px orangered,
            0 0 80px orangered,
            0 0 80px orangered,
            0 0 100px orangered,
            0 0 150px orangered;
        
        box-shadow:
            15px 10px 10px rgba(0,0,0,0.6),
            0 0 7px cyan,
            inset 0 0 7px cyan,
            0 0 20px powderblue,
            inset 0 0 20px powderblue,
            0 0 40px powderblue,
            inset 0 0 60px powderblue;        
    }
    
    // 20%, 24%, 55% {        
    //     text-shadow: none;
    //     box-shadow: none;
    // }    
}

.neonwall h1::after {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateX(-80%);
  z-index: -1;
  opacity: 0.6;
}
















.volt{
  background: rgb(7, 7, 14);
  background: linear-gradient(
    180deg,
    rgba(7, 7, 14, 1) 35%,
    rgba(130,96,87, 1) 85%,
    rgba(158, 122, 70, 1) 95%,
    rgba(174,155,129, .5)99%
  );
  box-shadow: 0px 10px 84px -31px rgba(0, 0, 0, 0.7);
}

.background-6 {
background: rgb(244,226,156);
background: -moz-linear-gradient(-45deg, rgba(244,226,156,0) 0%, rgba(59,41,58,1) 100%), -moz-linear-gradient(left, rgba(244,226,156,1) 0%, rgba(130,96,87,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(244,226,156,0) 0%,rgba(59,41,58,1) 100%), -webkit-linear-gradient(left, rgba(244,226,156,1) 0%,rgba(130,96,87,1) 100%);
background: -o-linear-gradient(-45deg, rgba(244,226,156,0) 0%,rgba(59,41,58,1) 100%), -o-linear-gradient(left, rgba(244,226,156,1) 0%,rgba(130,96,87,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(244,226,156,0) 0%,rgba(59,41,58,1) 100%), -ms-linear-gradient(left, rgba(244,226,156,1) 0%,rgba(130,96,87,1) 100%);
background: linear-gradient(135deg, rgba(244,226,156,0) 0%,rgba(59,41,58,1) 100%), linear-gradient(to right, rgba(244,226,156,1) 0%,rgba(130,96,87,1) 100%);

}









.background {
  background: #3E1E68;
}

$particleSize: 50px;
$animationDuration: 6s;
$amount: 20;
.background span {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (
    #583C87,
    #E45A84,
    #FFACAC
  );
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.5) * $particleSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}









@import url(https://fonts.googleapis.com/css?family=Lato:100,400);
@keyframes load{0%{stroke-dashoffset:0}}
.progress {
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center;
    &>li {
        display: inline-block;
        position: relative;
        text-align: center;
        color: #93A2AC;
        font-family: Lato;
        font-weight:100;
        margin: 2rem;
        &:before {
            content: attr(data-name);
            position: absolute;
            width: 100%;
            bottom: -2rem;
            font-weight:400;
        }
        &:after {
            content: attr(data-percent);
            position: absolute;
            width: 100%;
            top: 3.7rem;
            left: 0;
            font-size: 2rem;
            text-align: center;
        }
    }
    svg {
        width: 10rem;
        height: 10rem;
        &:nth-child(2) {
            position: absolute;
            left: 0;
            top: 0;
            transform: rotate(-90deg);
        }
        &:nth-child(2) path {
            fill: none;
            stroke-width: 25;
            stroke-dasharray: 629;
            stroke: #fff;
            opacity:.9;
            animation: load 10s;
        }
    }
}
